telegram-multitool-basic/workflows/search-agent.json
{
  "name": "Search Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "984cf0c4-6614-449c-bec0-f12f8a144380",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful agent.\nYou use your tools to search the web."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "4db43542-bf9f-4cdb-9bc5-01f54bddf8fb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        260
      ],
      "id": "bbd8463a-9dee-4be5-bb27-44b1c2a84d4b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k6Pyshrmyh8kvz6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        500,
        260
      ],
      "id": "c192ef92-2e9b-41c0-94bb-b1b9250024ca",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "=20",
        "additionalFields": {
          "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        280,
        260
      ],
      "id": "b80bc6b4-977c-43f1-965d-0651f1e13f09",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        400,
        260
      ],
      "id": "2bcc7e92-f400-41b2-b13a-5ead9d658b50",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "U9io8RPuNycmydbO",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "Triggered by the main Telegram Multitool Chat Agent - Basic to handle search tasks.",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -80
      ],
      "id": "5a04d690-94b9-40ac-94fd-361d34602d9c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "planet Venus information facts"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41e672a9-adef-43d3-b803-696f6a6edf2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f4f524c315a78d6d334218b56a37eb1c3d445a621abc97fa800c5b4c2a6aab5"
  },
  "id": "BWfEkGMFuYXXDYLj",
  "tags": [
    {
      "name": "basic telegram multitool",
      "id": "FMFlC0flOGC1K9Ob",
      "createdAt": "2025-05-06T23:22:42.776Z",
      "updatedAt": "2025-05-06T23:22:42.776Z"
    }
  ]
}