telegram-multitool-expanded/workflows/telegram-multitool-expanded.json
{
  "name": "Telegram Multitool Chat Agent - Expanded",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        0
      ],
      "id": "731ae83f-68ae-4a91-80e4-d71dbdbe1a90",
      "name": "Telegram Trigger",
      "webhookId": "afce7161-53e5-4504-b7ed-3c2a36422ab2",
      "credentials": {
        "telegramApi": {
          "id": "X0GkKgWP65YPd91x",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "54e70c6b-8d2e-4be0-afcb-e52f91f22b93"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06713e9f-fc02-4659-a4b1-bb2986bc7c9f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        20,
        0
      ],
      "id": "e21be479-19dd-4df5-9b34-3fe935ddf98e",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role: you're an assistant with access to multiple tools.\n\n# Behavior: you’re helpful, clear, and a little witty. Friendly like a smart friend, not robotic.\n\n# Date and time: {{ $now }}\n\n# Your tools:\n\n## gmail_summarize: use this tool to summarize emails.\n## gmail_send: use this tool to send emails.\n## event_set: use this tool to create events in a calendar.\n## event_get: use this tool to retrieve upcoming events from a calendar."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        920,
        -100
      ],
      "id": "98749838-19e7-4ac5-9c1f-bc11acce12a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        140
      ],
      "id": "8528a2ed-9439-4172-a9d1-577dd30f362b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k6Pyshrmyh8kvz6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        160
      ],
      "id": "1240f8a1-4459-4268-9f04-df212428f6d6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k6Pyshrmyh8kvz6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        860,
        140
      ],
      "id": "e8c5c129-7ac8-4d65-9d82-a02dafad037f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1400,
        140
      ],
      "id": "985a5111-3e73-4266-987b-a86c054653fc",
      "name": "gmail_send",
      "webhookId": "8e0330cf-7575-4533-a063-3badc0c207db",
      "credentials": {
        "gmailOAuth2": {
          "id": "vR78wGA6fF28TUch",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1280,
        140
      ],
      "id": "8961f55f-8e46-4716-8cfe-f3cebd59d579",
      "name": "gmail_summarize",
      "webhookId": "fe77fd25-639b-45a9-91d0-24bfea9e685c",
      "credentials": {
        "gmailOAuth2": {
          "id": "vR78wGA6fF28TUch",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "brunapolizeli28@gmail.com",
          "mode": "list",
          "cachedResultName": "brunapolizeli28@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1120,
        140
      ],
      "id": "a175b219-0da6-48bd-bbad-ecfa57ef1347",
      "name": "event_set",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IpNk6dBaZ6BZuD7h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "brunapolizeli28@gmail.com",
          "mode": "list",
          "cachedResultName": "brunapolizeli28@gmail.com"
        },
        "limit": 20,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1000,
        140
      ],
      "id": "e55465c7-cbd2-4dda-a313-67476d70d700",
      "name": "event_get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IpNk6dBaZ6BZuD7h",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "Routes input depending on whether it's a text or voice message.",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -80
      ],
      "id": "32ca3aff-dd7d-4174-b58a-e9b5a6ec1746",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        160
      ],
      "id": "2970f5df-ac94-4b30-bd7e-4b7cad6e6a62",
      "name": "voice",
      "webhookId": "62e95a4a-5018-4699-b548-0de1ea14fe3b",
      "credentials": {
        "telegramApi": {
          "id": "X0GkKgWP65YPd91x",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec43d47c-9873-4c98-a885-024c591dfa02",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -100
      ],
      "id": "8d965138-ee35-4ed3-9c4a-471e6cb954a5",
      "name": "text"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -100
      ],
      "id": "23c30f0e-d9c6-47a2-88e5-07af05c39fff",
      "name": "Telegram",
      "webhookId": "21c598bb-61f8-4e06-9e9b-bd8482717d0b",
      "credentials": {
        "telegramApi": {
          "id": "X0GkKgWP65YPd91x",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Sends the agent’s final response back to the user via Telegram.",
        "height": 240,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        -180
      ],
      "id": "423969c4-c0ec-49de-8f82-45bd84ba149f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail_send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_summarize": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "event_set": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "event_get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "voice": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1983efaf-f36c-4ae8-a03e-3787f8bab217",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f4f524c315a78d6d334218b56a37eb1c3d445a621abc97fa800c5b4c2a6aab5"
  },
  "id": "LM89AKjgDuhDbYe1",
  "tags": [
    {
      "name": "expanded multitool agent",
      "id": "hduzoCvNo1ZtzlhD",
      "createdAt": "2025-05-06T23:51:43.940Z",
      "updatedAt": "2025-05-06T23:51:43.940Z"
    }
  ]
}