auralith-faq-chatbot/workflows/auralith_uploader.json
{
  "name": "Auralith Uploader",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OgIOLUoVZ3F83jWPCuzMMb-E-POrMDeN",
          "mode": "list",
          "cachedResultName": "RAG-app",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OgIOLUoVZ3F83jWPCuzMMb-E-POrMDeN"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7b5d9abd-c0c2-445d-8214-e4a0acf9e4cf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "80X3YJrQfm3hhrX1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "d906d0ce-05f6-4345-86bb-ff7bb64094b6",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "80X3YJrQfm3hhrX1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "auralith-faq",
          "mode": "list",
          "cachedResultName": "auralith-faq"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "3bd26696-bdd2-4b3a-8cb0-48cc828f6a02",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "w8LdlVNp83eFjkC9",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        200
      ],
      "id": "9fabf5d5-33c6-4158-af9e-a8483955a737",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k6Pyshrmyh8kvz6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        640,
        220
      ],
      "id": "bcb6d628-c71b-4944-bf5c-63bf5651c5a8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 25,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        720,
        380
      ],
      "id": "8095c461-6b67-4e0d-b1ae-a6db49430789",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "Downloads the newly detected file for processing and embedding.",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -80
      ],
      "id": "ae60b4ce-aa3f-4aff-b706-a1d6cafdfa36",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Stores vectorized document chunks in the Pinecone index for future semantic search.",
        "height": 220,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        -80
      ],
      "id": "301a9da4-15e4-443e-957b-36dc1144bb78",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f01b143e-7bb8-465b-92b6-e3fa2c4d2220",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f4f524c315a78d6d334218b56a37eb1c3d445a621abc97fa800c5b4c2a6aab5"
  },
  "id": "wOBtQ91Oh1AMR5ga",
  "tags": [
    {
      "name": "auralith rag",
      "id": "Tm3GudbkzwAb4bZz",
      "createdAt": "2025-05-06T21:56:33.441Z",
      "updatedAt": "2025-05-06T21:56:33.441Z"
    }
  ]
}